<header class="d-flex-col">
    <h1 id="logo">MemoBoard</h1>
    <nav id="navbar-links">
        <ul class="d-flex-row">
            <li><a href="/">Home</a></li>
            <li><a href="/messages/new">Add Memo</a></li>
        </ul>
    </nav>
</header>