<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Memo Form</title>
    <link rel="stylesheet" href="/styles/form.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/footer.css">
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <div class="content-card">
            <h2>Add a new memo</h2>
            <form id="newMsgForm" action="/messages/new" method="post">
                <div class="form-group">
                    <label for="userName">Username:</label>
                    <input type="text" name="userName" id="userName">
                </div>
                <div class="form-group">
                    <label for="memoMsg">Memo message:</label>
                    <textarea id="memoMsg" name="memoMsg" rows="4"></textarea>
                </div>
                <button type="submit" id="createMemo">Add memo</button>
            </form>
        </div>
    </main>
    <%- include('partials/footer') %>
</body>
</html>